<?xml version="1.0" encoding="UTF-8"?>
<web-app id="servlet-2_5" version="2.5"
   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
   xmlns="http://java.sun.com/xml/ns/javaee"
   xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">

	<display-name>Archetype Created Web Application</display-name>

	<servlet>
		<servlet-name>Servlet</servlet-name>
		<servlet-class>kr.letech.study.mvc01.cmmn.servlet.Servlet</servlet-class>
		<init-param>
			<param-name>configFile</param-name>
			<param-value>/WEB-INF/config/mvc.properties</param-value>
		</init-param>
	</servlet>


	<servlet-mapping>
		<servlet-name>Servlet</servlet-name>
		<url-pattern>*.do</url-pattern>
	</servlet-mapping>

</web-app>
